*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0 10%;
  font-size: 1.4rem;
}
#root,#cont-header{
  margin-bottom: 4% ;
}
/* common display flex */
#root,.contributors-container,.repo-detail{
  display: flex;
  flex-direction: column;
}
.main-container,.contributors-detail,header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* common padding */
.contributors-container,.alert-error,header,.contributors-detail,select,.repo-detail,#hyf-header{
  padding: 2%;
}

.main-container section{
  flex: 1 47%;
  margin: 1%;
}
.contributors-container,.repo-detail{
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}
.contributors-detail{
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1%;
}
.contributors-detail p{
  margin: 0 2%;
}
#cont-header{
  color: rgb(124, 116, 116);
}
select{
	font-size: 16px;
	color: #444;
	border: 1px solid #aaa;
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  cursor: pointer;
  margin: auto 3%;
}
#contribution-count{
  background-color: rgb(124, 116, 116);
  color: rgb(255, 255, 255);
  border-radius: 10%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-error {
  color: rgb(167, 57, 92);
  background-color: rgb(254, 212, 217);
  margin: 1%;
  height: 200%;
  text-align: center;
}
header{
  color: rgb(255, 255, 255);
  background-color: rgb(72, 66,184);
}
.repo-detail p:nth-child(odd){
  font-weight: bold;
  color: rgb(72, 66,184);
}
.repo-detail p{
  margin: 1% 4%;
  padding: 1% 0;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width:767px){
  body{
    margin: 0;
    font-size: 1rem;
  }
  header,.main-container,.repo-detail {
    display: flex;
    flex-direction: column;
  }
  section{
    margin: 2%;
  }
  .repo-detail p{
    padding: 2%;
  }
  .repo-detail p:nth-child(even){
    margin-bottom: 2%;
    color: rgb(255, 255, 255);
    background-color: rgba(183, 181, 228, 0.815);
  }
  select{
    margin: 4% 0;
  }
}